div 
{ 
    background: red;
}
.patrat
{
    background: blue;
}
#rotungit
{
    background: #FFFF00;
    border-radius: 50%;
    height: 150px;
    width: 150px; 
}
*
{
    background: gray;
}
style 
{
    background: green;
}
